/* style.css */
body {
  margin: 0;
  background: #000;
  color: #39ff4a;
  font-family: "Courier New", monospace;
  text-shadow: 0 0 6px #39ff4a;
}

body::before {
  content: "";
  position: fixed;
  inset: 0;
  background: repeating-linear-gradient(
    to bottom,
    rgba(57,255,74,0.05),
    rgba(57,255,74,0.05) 1px,
    transparent 1px,
    transparent 4px
  );
  pointer-events: none;
  z-index: 999;
}

.screen {
  max-width: 1400px;
  margin: auto;
  padding: 16px;
}

header, nav, footer, .panel, .stat {
  border: 1px solid #19ff36;
  background: rgba(0, 30, 5, 0.55);
  box-shadow: 0 0 12px rgba(25,255,54,0.35);
}

header {
  display: flex;
  justify-content: space-between;
  padding: 18px;
  margin-bottom: 18px;
}

h1, h2, h3, p {
  margin-top: 0;
}

.top-status {
  text-align: right;
}

nav {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  margin-bottom: 22px;
}

nav button {
  background: rgba(0,0,0,0.4);
  color: #39ff4a;
  border: 1px solid #0b8f1c;
  padding: 18px 8px;
  font-family: inherit;
  font-size: 16px;
}

nav button.active {
  background: rgba(57,255,74,0.18);
  box-shadow: inset 0 0 20px rgba(57,255,74,0.45);
}

main {
  display: grid;
  grid-template-columns: 260px 1fr 280px;
  gap: 22px;
}

.panel {
  padding: 18px;
  margin-bottom: 22px;
}

.profile {
  text-align: center;
}

.pfp {
  width: 190px;
  height: 190px;
  object-fit: cover;
  border-radius: 18px;
  border: 1px solid #39ff4a;
  box-shadow: 0 0 18px rgba(57,255,74,0.55);
}

.profile h3 {
  font-size: 34px;
  margin: 18px 0 5px;
}

.profile span {
  border: 1px solid #39ff4a;
  padding: 8px 18px;
  display: inline-block;
  margin-bottom: 20px;
}

.stat-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 16px;
  margin-top: 25px;
}

.stat {
  padding: 22px;
  text-align: center;
}

.stat small {
  display: block;
  margin-bottom: 10px;
}

.stat strong {
  font-size: 32px;
}

.timer {
  font-size: 32px;
  text-align: center;
}

.tab-page {
  display: none;
}

.active-page {
  display: block;
}

input {
  width: 100%;
  box-sizing: border-box;
  padding: 12px;
  background: #020;
  border: 1px solid #39ff4a;
  color: #39ff4a;
  font-family: inherit;
}

footer {
  margin-top: 25px;
  padding: 16px;
}

@media (max-width: 900px) {
  main {
    grid-template-columns: 1fr;
  }

  nav {
    grid-template-columns: repeat(4, 1fr);
  }

  header {
    display: block;
  }

  .top-status {
    text-align: left;
    margin-top: 10px;
  }
}
